@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* codigo color logo #90afe0 */

body {
    font-family: "Poppins", sans-serif;
    position: relative;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    background-color: #d8edf9;
    padding: 150px 0 100px 0;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Kalam", cursive;
    border: 2px black;
}

.header i {
    color: #769ede;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: black;
    display: block;
}


.menu .navbar ul li a:hover {
    color: #007AD1;
}

.logo {
    font-size: 25px;
    font-weight: 600;
    color: #323232;
}

#menu {
    display: none;
}

.menu label {
    cursor: pointer;
    display: none;
}

/* logo rdm e infomracion */

.header-content {
    display: flex;
}

.header-txt {
    width: 50%;

}

.header-txt h1 {
    line-height: 1;
    color: #323232;
    text-transform: capitalize;
    font-size: 300%;
    margin-bottom: 10px;
}

.header-txt p {
    font-size: 22px;
    color: #818181;
    margin-bottom: 45px;
}

.header-img {
    width: 100%;
}

.header-txt img {
    width: 300px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 25px;
    background-color: dodgerblue;
    color: #ffffff;
    border-radius: 15px;
}

.about {
    padding: 100px 0;
    display: flex;
}

.about-img {
    width: 50%;
}

.about-img img {
    width: 500px;
    border-radius: 30px;
    padding: 20px;
}

.about-txt {
    width: 50%;
    margin-left: 25px;
}

.about-txt h2 {
    color: #323232;
    font-size: 50px;
    margin-bottom: 15px;
}

.about-txt p {
    font-size: 22px;
    color: #818181;
}

/* Servicios */

.service {
    padding: 50px 0 100px 0;
    text-align: center;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service h2 {
    color: #323232;
    font-size: 50px;
    margin-bottom: 15px;
}

.service-content {
    margin-top: 55px;
    justify-content: space-between;
}

.service-1 {
    padding: 25px;
    flex-basis: calc(38% - 20px);
}

.service-1 i {
    font-size: 30px;
    color: #90afe0;
    margin-bottom: 15px;
    border-radius: 5px red;
}

.service-1 h3 {
    font-size: 20px;
    color: #323232;
    text-transform: capitalize;
}

.service-1 img {
    width: 500px;
    border-radius: 15px;
}


/* carousel caba;as */

.carouselOne {
    margin: 10px;
    width: 600px;
    height: 900px;
    overflow: hidden;
}

/* formulario */


.formulario {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    padding: 50px;
    width: 500px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

form h2 {
    font-size: 25px;
    color: #90afe0;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.input-container {
    position: relative;
}

.input-container>i {
    padding: 14px;
    border-radius: 50%;
    color: #90afe0;
    position: absolute;
    font-size: 20px;
    top: 4px;
    left: 10px;
}

.input-container>input,
textarea {
    padding: 17px 15px 17px 65px;
    width: 100%;
    margin-bottom: 25px;
    border-radius: 35px;
    background-color: transparent;
    border: 2px solid #90afe0;
    font-size: 16px;
    outline: none;
    color: #323232;
}

textarea {
    font-family: "Poppins", sans-serif;
    height: 150px;
}

::placeholder {
    color: #a0a0a0;
    font-size: 16px;
}

.btn {
    background-color: #90afe0;
    padding: 17px 30px;
    width: 100%;
    border: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
}

.footer {
    padding: 50px;
    background-color: #fafafa;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link ul li {
    margin-right: 50px;
}

.link ul li a {
    color: #323232;
    font-size: 17px;
}

.link ul li a:hover {
    color: #90afe0;
}

.ubication {
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

/* Responsive  */

@media (max-width: 991px) {

    /* menu .navbar */

    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #ffffff;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked~.navbar {
        display: initial;
    }

    /* rdm e info */

    .header {
        min-height: 0vh;
        padding: 80px 30px 50px 30px;
    }

    .header-content {
        flex-direction: column;
    }

    .header-txt {
        text-align: center;
        width: 100%;
        margin-bottom: 25px;
    }

    .header-img {
        width: 100%;
    }

    .header-img img {
        width: 100%;
    }

    /* nosotros  */

    .about {
        padding: 30px;
        flex-direction: column;
    }

    .about-img {
        width: 100%;
        order: 2;
    }

    .about-img img {
        width: 100%;
    }

    .about-txt {
        width: 100%;
        margin-left: 0;
        text-align: center;
        margin-bottom: 25px;
    }

    .service {
        padding: 30px;

    }

    .service-content {
        margin-top: 25px;
        flex-direction: column;
    }

    .service-1 {
        margin-bottom: 20px;
    }

    .service-1 img {
        margin-bottom: 20px;

    }

    .formulario {
        padding: 30px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .form {
        width: 100%;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        text-align: center;
    }

    .link ul {
        flex-direction: column;
    }

    .link ul li {
        margin: 0 0 15px 0;
    }
}

/* ------------------------------------------ */



.swiper {
    width: 70%;
    max-width: 750px;
    margin: 0 auto;
    padding: 50px 0;
}

.swiper h1 {
    text-align: center;
    padding: 10px;
    font-size: xxx-large;
}

.swiper-slide {
    width: 250px;
    height: 350px;
    padding: 10px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    padding: 10px;
}

.swiper-wrapper {
    align-items: center;
}

@media (max-width: 768px) {

    .swiper {
        width: 100%;
        padding: 30px 0;
    }

    .swiper-slide {
        width: 180px;
        height: 250px;
        padding: 5px;
    }
}

.ubication {
    display: flex;
    margin: 100px;
    padding: 10px;
    flex-direction: row;
    justify-content: space-evenly;
}

@media (max-width: 390px) {

    .ubication {
        flex-direction: column-reverse;
    }

    .maps {
        margin: 10px;
        width: 450;
        height: 400;
    }
}

@media (max-width: 690px) {

    .ubication {
        flex-direction: column-reverse;
    }

    .maps {
        margin: 10px;
        width: 450;
        height: 400;
    }
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.float:hover {
    text-decoration: none;
    color: #25d366;
    background-color: #fff;
}

.my-float {
    margin-top: 16px;
}

.galeria {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
    padding: 100px 0;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box:nth-child(1) {
    grid-column-start: span 2;
}

.box:nth-child(4) {
    grid-column-start: span 2;
}

@media(max-width:991px) {
    .galeria {
        padding: 30px;
        grid-template-columns: repeat(1, 1fr);
    }F
    .box:nth-child(1) {
        grid-column-start: span 1;
    }
    .box:nth-child(4) {
        grid-column-start: span 1;
    }
}

.link svg{
    margin-left: 5px;
}